[DEFAULT]
ConnectionType=initiator
ReconnectInterval=30
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
ResetOnLogon=Y
ResetSeqNumFlag=Y
ResetOnDisconnect=Y

# standard config elements

[SESSION]
BeginString=FIX.4.4
SenderCompID=TRADER_3
Password=TEST
Symbol=AAA
SecurityExchange=MARKET_Y
NumberOfOrders=1000
TargetCompID=FIX_GWY_1
SocketConnectHost=localhost
#SocketConnectHost=165.22.179.176
SocketConnectPort=15001
HeartBtInt=30 
#DataDictionary=../FIXGateway/spec/FIX44.xml
DataDictionary=/Users/mkipnis/git/DistributedATS/FIXGateway/spec/FIX44.xml
