version: '2'

services:

  fix-ws-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fix-ws-proxy
    image: ghcr.io/mkipnis/fix_ws_proxy:latest
    ports:
      - "9002:9002"
    environment:
      LD_LIBRARY_PATH: "/usr/local/lib"
    restart: unless-stopped

  # WebTrader Front-End
  distributed_ats_webtrader:
    container_name: distributed_ats_webtrader
    image: ghcr.io/mkipnis/distributed_ats_webtrader:latest
    volumes:
      - ./webtrader_logs:/var/log/nginx
    ports:
      - "8080:80"
    restart: "no"
