version: '2'

services:
  fast_dds_discovery:
    container_name: discovery_service
    image: ghcr.io/mkipnis/distributed_ats:latest
    command: >
      bash -c "LD_LIBRARY_PATH=/usr/local/lib /usr/local/bin/fastdds discovery -q 51000"
    ports:
      - "51000:51000"
    restart: unless-stopped

  distributed_ats:
    container_name: distributed_ats
    image: ghcr.io/mkipnis/dats_ust_clob:latest 
    depends_on:
      - fast_dds_discovery 
    command: >
      bash -c "cd /usr/local && source ./dats_env.sh && cd MiscATS && BASEDIR_ATS=`pwd`/USTreasuryCLOB python3 start_ats.py --ats USTreasuryCLOB/ust_ats.json"
    volumes:
      - ./logs_ats:/usr/local/MiscATS/USTreasuryCLOB/logs
    ports:
      - "15001:15001"
      - "16001:16001"
    restart: unless-stopped

  fix-ws-proxy:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fix-ws-proxy
    image: ghcr.io/mkipnis/fix_ws_proxy:latest
    ports:
      - "9002:9002"
    environment:
      LD_LIBRARY_PATH: "/usr/local/lib"
    volumes:
      # Optional: override config without rebuilding
      - ./fixproxy.ini:/usr/local/config/fixproxy.ini:ro
    restart: unless-stopped

  # WebTrader Front-End
  distributed_ats_webtrader:
    container_name: distributed_ats_webtrader
    image: ghcr.io/mkipnis/distributed_ats_webtrader:latest
    volumes:
      - ./webtrader_logs:/var/log/nginx
    ports:
      - "8080:80"
    restart: "no"

